.project__button {
    background-color: #42493A;
    border: none;
    width: 120px;
    color: #F5FCED;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}