@import url(./__title/project__title.css);
@import url(./__wrapper/project__wrapper.css);
@import url(./__info-wrapper/project__info-wrapper.css);
@import url(./__logo/project__logo.css);
@import url(./__button/project__button.css);
@import url(./__description/project__description.css);
.project {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px dotted #6A9F34;
    border-bottom: none;
    background-color: rgb(218, 217, 188);
    color: #2F4858;
}