.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #B5D491;
    color: #2F4858;
    font-family: Roboto, Georgia, serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}