body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* text-decoration: none; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* position: relative; */
  /* min-height: 100%; */
}

#root {
  position: relative;
}

.App {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 20px;
  /* height of my footer */
}

/* * {
  box-sizing: border-box;
  border: 1px solid red;
} */

.dark-mode {
  background-color: black;
  border-bottom: 2px solid red;
}

.light-mode {
  background-color: coral;
  border-bottom: 10px solid green;
}

@font-face {
  src: url(./fonts/roboto-regular-webfont.woff) format("woff");
  font-family: "Roboto";
  font-style: normal;
  color: blue;
}

@font-face {
  src: url(./fonts/robotoslab-regular-webfont.woff) format("woff");
  font-family: "Roboto Slab";
  font-style: normal;
}