@import url(./__text-wrapper/header__text-wrapper.css);
@import url(./__name/header__name.css);
@import url(./__status/header__status.css);
@import url(./__photo/header__photo.css);
@import url(./__social/header__social.css);
@import url(./__photo-wrapper/header__photo-wrapper.css);
.header {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #B5D491;
    color: #2F4858;
}